<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/header.ejs') %>
<div class="container" style="margin-top:50px;padding-bottom: 30px">
	<h1 class="text-center">確認餐點</h1>
	<h3>確認訂單</h3>
	<% for (var i=0 ; i < session.cart.length ; i++) { %>
		<% var item = JSON.parse(session.cart[i].token)
		   var citem = session.cart[i]
		%>
	<div class="row orderlist">
		<div class="col-xs-5">
			<div class="media cartitem">
				<div class="media-left">
					<img src="../static/images/food1.jpeg" class="media-object" style="width:60px" alt="">
				</div>
				<div class="media-body">
					<div class="row">
						<div class="col-xs-6">
							<h4 class="media-heading"><%= item.name %></h4>
							<p>NT$<%= item.price.low %><span id="itemPriceId"></span></p>
						</div>
						<div class="col-xs-6">
							<p class="listcolor">
								商品描述：<%= item.data %><br/><br/>
								備註：<%= citem.remark %><br/><br/>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-2 orderlistpt15">
			<input id="itemNumberId" type="number" class="form-control" name="itemnumber" min="0" value="<%= citem.amt %>">
		</div>
		<div class="col-xs-2 orderlistpt15" style="text-align: right">
			<input type="button" class="btn btn-primary" id="countId" value="確認">
		</div>
		<div class="col-xs-2 orderlistpt15" style="text-align: right">
			小計NT$&nbsp;<em id="itemtotalId" class="itemprice"></em>&nbsp;元
		</div>
		<div class="col-xs-1 orderlistpt15"> <!--  刪除購物車商品 -->
			<a href="/cart/delcart/<%= i %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</div>
	</div>
	<% } %>
		<div class="row">
			<div class="col-xs-9" style="text-align: right;padding-top: 20px;">
				<p>商品金額合計</p>
			</div>
			<div class="col-xs-3" style="text-align: center;padding-top: 15px;">
				<p style="font-size: 18px">NT$&nbsp;<em id="itemtotalAllId" class="itemprice">357</em>&nbsp;元</p>
			</div>
		</div>
		<div class="form-group">
			<label for="district">付款方式</label>
			<select class="form-control" name="district">
				<option>現金付款</option>
			</select>
		</div>
		<div class="col-xs-2 orderlistpt15" style="text-align: right">
			總計NT$&nbsp;<em id="itemtotalId3" class="itemprice"></em>&nbsp;元
		</div>
		<div class="col-xs-2 orderlistpt15" style="text-align: right">
			<input type="button" class="btn btn-primary" id="countId3" value="確認">
		</div>
	</div>
		</div>
	</div>
</div>

</body>
</html>