<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>food●點餐系統</title>
	<!-- Bootstrap css-->
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap js-->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<%- include('./partials/headermerch.ejs') %>
		<div class="container" style="margin-top:50px;padding-bottom: 30px">
			<h2 class="h2">訂單狀態</h2>


			<a href="/merchant">
				<button class="buttonreturn"><span>回到上一頁</span></button>
			</a><br>
			<!-- 訂單紀錄 -->
			<form id="serarchOrderBtn" action="/history/historySearch" method="post">
				<h3 class="text-center">訂單紀錄(歷史紀錄)</h3><br>
				<label for="startDate">開始日期：</label>
				<input type="date" id="startDate" name="startDate">
				&nbsp&nbsp&nbsp
				<label for="dataset">開始時段：</label>
				<select id="dataset" name="startTime">
					<option value="00:00:00">整天</option>
					<option value="11:00:00">中午(11:00-16:00)</option>
					<option value="17:00:00">晚上(17:00-23:00)</option>
				</select>&nbsp&nbsp~&nbsp&nbsp
				<label for="endDate">結束日期：</label>
				<input type="date" id="endDate" name="endDate">
				&nbsp&nbsp&nbsp
				<label for="dataset">結束時段：</label>
				<select id="dataset" name="endTime">
					<option value="23:59:59">整天</option>
					<option value="16:00:00">中午(11:00-16:00)</option>
					<option value="23:00:00">晚上(17:00-23:00)</option>
				</select>&nbsp&nbsp&nbsp
				<a id="search" href="#"><button type="submit"><span class="glyphicon glyphicon-search"
							aria-hidden="true"></span></button></a>
				<br><br>
			</form>
			<h4 class="text-center">目前顯示時間範圍：</h4><br>
			<table class="table table-striped table-hover text-center">
				<tr>
					<th class="text-center">日期</th>
					<th class="text-center">時間</th>
					<th class="text-center">桌號</th>
					<th class="text-center">訂單金額</th>
					<th class="text-center">明細</th>
				</tr>
				<%if (forder){%>
					<% for (var i=0 ; i < forder.length ; i++) { %>
						<% const datestr = JSON.parse(forder[i].info).time %>
						<% const date = new Date(datestr.replace("-", "/").replace("-", "/").replace("-", " ").replace("-", ":").replace("-", ":")); %>
						<% const day = `${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`;	%>
						<% const time = `${date.getHours()}:${date.getMinutes()}`; %>
						<% const total = forder[i].cart.reduce((acc, curr) => acc + Number(curr.price) * Number(curr.amt), 0); %>
						<tr>
							<td><%= day %></td>
							<td><%= time %></td>
							<td><%= JSON.parse(forder[i].info).table %></td>
							<td><%= total %></td>
							<td class="odetail" id="<%= JSON.parse(forder[i].id) %>" onclick="historydetail('<%= JSON.parse(forder[i].id) %>')" >明細&nbsp;<a href="#" data-toggle="modal" data-target="#Modalrecord"><span
										class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></td>
							<%} %>
								<%} %>
									<%if (!forder){%>
						<tr>
							<td colspan="5">
								<h4>無訂單</h4>
							</td>
						</tr>
						<%}%>
			</table>
			<!-- Modal -->
			<div class="modal fade" id="Modalrecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form>
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title itemname" id="myModalLabel">訂單明細 1</h4>
								<p>訂單日期：2023年03月19日</p>
							</div>
							<div class="modal-body">
								<table class="table table-striped text-center">
									<tr>
										<td>項次</td>
										<td>品名</td>
										<td>數量</td>
										<td>單價</td>
										<td>金額</td>
									</tr>
									
									<% if (forder.length!=0) { %>
										<% for (var i=0 ; i < forder[0].cart.length ; i++) { %>
											<tr>
												<td><%= i+1 %></td>
												<td><%= forder[0].cart[i].name %></td>
												<td><%= forder[0].cart[i].amt %></td>
												<td><%= forder[0].cart[i].price %></td>
												<td><%= forder[0].cart[i].amt*forder[0].cart[i].price %></td>
											</tr>
										<%} %>
									<% } %>
													<tr>
														<td colspan="4">訂單金額總計</td>
														<td style="color: crimson;font-size: 18px">230</td>
													</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default">編輯訂單</button>
								<button type="submit" class="btn btn-primary">更新狀態</button>
							</div>
						</form>
					</div><!--modal-content end-->
				</div><!-- Modal end-->



			</div><!--row end-->
		</div><!--container end-->

</body>
<footer>
	<script src="js/historydetail.js"></script>
</footer>
</html>