<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-clientcolor navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">
					<img src="images/桌號1.jpg" height="50px" >
				</a>
			</div>
	<%- include('./partials/header.ejs') %>
<img src="images/home.jpeg" href="/home" width="100%" >
<h5><div  class="navbar-fixed-topmid"  style="text-align: center ;margin-top: 40px" width="50%">
	<% for (var i=0 ; i < menu.length ; i++) { %>
		<a class="navbar-center " href="#a<%=i%>">
			&nbsp;&nbsp;<%= menu[i].name %>&nbsp;&nbsp;
		</a>
<!--
	
<div class="fixtop2 text-right">
	<a href="order.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>&nbsp;
	<a href="order2.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>&nbsp;
	<a href="order3.html"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
</div>-->
<% } %>
</div></h5>
<div class="container" style="margin-top: 30px;padding-bottom: 50px">
	
	<div id="item1" class="menuclass">
		<div style="text-align: center">
			<h3>商品頁面</h3><br>
			<h4><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;熱門商品&nbsp;&nbsp;<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h4>
		</div>
		<% for (var i=0 ; i < menu.find(item=> item.name === menu[0].name).items.length ; i++) { %>
		<a href="#" data-target="#myModal<%=i%>">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div class="thumbnail">
					<img src="images/item1.jpeg" width="100%" alt="...">
					<div class="caption">
						<h3 class="text-center">
							<%=menu.find(item=> item.name === menu[0].name).items[i].name %>
						</h3>
						<p class="h5 text-center">NT$<%= menu.find(item=> item.name ===
							menu[0].name).items[i].price.low %></p>
							<p class="text-center"><a href="#" data-toggle="modal"  class="btn btn-primary" role="button">點餐</a></p>
					</div>
				</div>
			</div>
		</a>
			<% } %>
		</div>
	</div>

<% for (var i=0 ; i < menu.length ; i++) { %>
<A Name="a<%=i%>"></A>
<div class="container" style="margin-top: 20px;padding-bottom: 50px">
	<div class="row">
		<div id="item1" class="menuclass">
			<div style="text-align: left">
				<h4><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;<%= menu[i].name %>&nbsp;&nbsp;<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h4>
			</div>
			<% for (var j=0 ; j < menu.find(item => item.name === menu[i].name).items.length ; j++) { %>
				<A Name="a<%=i%><%=j%>"></A><!--每個餐點-->
				<a href="#" data-toggle="modal" data-target="#myModal<%=i%><%=j%>">
				<div class="row itemlist">
					<div class="col-xs-6 image-text-container">
						<img src="images/item1.jpeg" width="40%" alt="...">
						<p class="h4 text-left"><%=menu.find(item=> item.name === menu[i].name).items[j].name %></p>
					</div>

					<div class="col-xs-6">
						<p class="h5 text-right">NT$<%= menu.find(item=> item.name ===menu[i].name).items[j].price.low %>&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>
					</div>
				</div>
				<br>
			</a>
				
			<div class="modal fade" id="myModal<%=i%><%=j%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form action="/home/addcart" method="post">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title itemname" id="myModalLabel"><%=menu.find(item=> item.name === menu[i].name).items[j].name %></h4>
								<p class="itemprice">NT$<%= menu.find(item=> item.name ===menu[i].name).items[j].price.low %></p>
							</div>
							<div class="modal-body">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													<div class="row">
														<%var a;%>
														<%if (i===0){a='飯硬度選擇',a1='軟',a2='適中',a3='硬'}%>
														<%if (i===1){a='麵體選擇',a1='軟',a2='適中',a3='硬'} %>
														<%if (i===2){a='是否炙燒',a1='是',a2='否',a3='考慮'}%>
														<%if (i===3){a='飯硬度選擇',a1='軟',a2='適中',a3='硬'} %>
														<%if (i===4){a='冰度選擇',a1='正常',a2='少冰',a3='去冰'}%>
														<div class="col-xs-6">
															<p class="text-left"><%=a%></p>	
														</div>
														<div class="col-xs-6">
															<p class="text-right" style="color:crimson">必選1個&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></p>
														</div>
													</div>
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												<div class="radio">
													<label>
														<input type="radio" name="temperature" id="a1" value="a1" checked><%=a1%>
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="temperature" id="a2" value="a2"><%=a2%>
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="temperature" id="a3" value="a3"><%=a3%>
													</label>
												</div>
											</div>
										</div>
									</div>
								
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree<%=i%><%=j%>" aria-expanded="false" aria-controls="collapseThree">
													<div class="row">
														<div class="col-xs-6">
															<p class="text-left">加價購</p>
														</div>
														<div class="col-xs-6">
															<p class="text-right" style="color:silver">可選擇填寫&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></p>
														</div>
													</div>
												</a>
											</h4>
										</div>
										<div id="collapseThree<%=i%><%=j%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												<div class="radio">
													<label>
														<input type="radio" name="otherselect" id="otherselect1" value="otherselect1" checked>
														叉燒(+NT$30)
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="otherselect" id="otherselect2" value="otherselect2">
														糖心蛋(+NT$20)
													</label>
												</div>
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading4">
											<h4 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4<%=i%><%=j%>" aria-expanded="false" aria-controls="collapse4">
													<div class="row">
														<div class="col-xs-6">
															<p class="text-left">特別指示</p>
														</div>
														<div class="col-xs-6">
															<p class="text-right" style="color:silver">可選擇填寫&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></p>
														</div>
													</div>
												</a>
											</h4>
										</div>
										<div id="collapse4<%=i%><%=j%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
											<div class="panel-body">
												<textarea id="noadd" class=" form-control " rows="3" placeholder="例如：不加蔥花、飯少一點，或不想包括的食材" name="remark"></textarea>
											</div>
										</div>
									</div>
									<div style="margin-top: 10px">
										<p>購買數量</p>
										<input type="number" class="form-control" name="amt" step="1"  min="1" value="1" max="100">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<!-- 將商品資訊用隱藏的方式傳到後端可防止竄改 input type用hidden -->
								<input type="hidden" name="token" value="<%=JSON.stringify(menu.find(item=> item.name === menu[i].name).items[j])%>">
								<button type="submit" class="btn btn-primary">放入購物車</button>
							</div>
						</form>
					</div><!--modal-content end-->
				</div>
			</div>
			<% } %>
		</div>
			<!-- Modal -->
		<!-- %- include('./partials/modal.ejs') %> -->
	</div><!--row end-->
</div><!--container end-->
<% } %>

</body>
</html>