<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/header.ejs') %>
<img src="images/home.jpeg" href="/home" width="100%" >
<h4><div  class="navbar-fixed-topmid" style="text-align: center ;margin-top: 40px" width="50%">
<% for (var i=0 ; i < menu.length ; i++) { %>
	<a class="navbar-center " href="#a">
		&nbsp;&nbsp;<%= menu[i].name %>&nbsp;&nbsp;
	</a>
<!--
	<div class="owl-carousel owl-theme fixtop">
	<a href="#item1"><div class="item"><h4>壽司</h4></div></a>
	<a href="#item2"><div class="item"><h4>拉麵</h4></div></a>
	<a href="#item3"><div class="item"><h4>刺身</h4></div></a>
	<a href="#item4"><div class="item"><h4>定食</h4></div></a>
	<a href="#item4"><div class="item"><h4>甜點</h4></div></a>
</div>
<div class="fixtop2 text-right">
	<a href="order.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>&nbsp;
	<a href="order2.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>&nbsp;
	<a href="order3.html"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
</div>-->
<% } %>
</div></h3>
<div class="container" style="margin-top: 30px;padding-bottom: 50px">
	
	<div id="item1" class="menuclass">
		<div style="text-align: center">
			<h3>商品頁面</h3><br>
			<h4><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;&nbsp;熱門商品&nbsp;&nbsp;<span class="glyphicon glyphicon-glass" aria-hidden="true"></span></h4>
		</div>
		<% for (var i=0 ; i < menu.find(item=> item.name === menu[0].name).items.length ; i++) { %>
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div class="thumbnail">
					<img src="images/item1.jpeg" width="100%" alt="...">
					<div class="caption">
						<h3 class="text-center">
							<%=menu.find(item=> item.name === menu[0].name).items[i].name %>
						</h3>
						<p class="h5 text-center">NT$<%= menu.find(item=> item.name ===
							menu[0].name).items[i].price.low %></p>
							<p class="text-center"><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary" role="button">點餐</a></p>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<A Name="a"></A>

<% for (var i=0 ; i < menu.length ; i++) { %>
<div class="container" style="margin-top: 20px;padding-bottom: 50px">
	

	<div class="row">
		<div id="item1" class="menuclass">
			<div style="text-align: center">
				<h4><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;&nbsp;<%= menu[i].name %>&nbsp;&nbsp;<span class="glyphicon glyphicon-glass" aria-hidden="true"></span></h4>
			</div>
			<% for (var j=0 ; j < menu.find(item => item.name === menu[i].name).items.length ; j++) { %>
			<a href="#" data-toggle="modal" data-target="#myModal">
				<div class="row itemlist">
					<div class="col-xs-6 image-text-container">
						<img src="images/item1.jpeg" width="40%" alt="...">
						<p class="h4 text-left"><%=menu.find(item=> item.name === menu[i].name).items[j].name %></p>
					</div>

					<div class="col-xs-6">
						<p class="h5 text-right">NT$<%= menu.find(item=> item.name ===menu[i].name).items[j].price.low %>&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></p>
					</div>
				</div>
				<br>
			</a>
			<% } %>
		</div>
			<!-- Modal -->
		<%- include('./partials/modal.ejs') %>
	</div><!--row end-->
</div><!--container end-->
<% } %>

</body>
</html>