<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>food●訂單管理系統</title>
	<!-- Bootstrap css-->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap js-->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<%- include('./partials/headermerch.ejs') %>
		<div class="container" style="margin-top:50px;padding-bottom: 30px">
			<h2 class="h2">訂單狀態</h2>
			<ul id="myTab1" class="nav nav-tabs">
				<li class="active"><a href="#confirm" data-toggle="tab">訂單已送出-等待確認&nbsp;&nbsp;<span
							class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
				<li><a href="#making" data-toggle="tab">訂單已確認-製作中&nbsp;&nbsp;<span
							class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
				<li><a href="#done" data-toggle="tab">製作完成-待配送餐點</a></li>
				<li><a href="#finish" data-toggle="tab">結帳</a></li>
				<li><a href="/history">訂單紀錄</a></li>
			</ul>

			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="confirm">
					<h3 class="text-center">訂單已送出-等待確認</h3>
					<table class="table table-striped table-hover text-center">
						<tr>
							<th class="text-center">桌號</th>
							<th class="text-center">日期</th>
							<th class="text-center">時間</th>
							<th class="text-center">訂單金額</th>
							<th class="text-center">編輯訂單</th>
							<th class="text-center">製作餐點</th>
						</tr>
						<!-- count status=0 -->
						<% const orders0=orders.filter(order=> {
							const status = JSON.parse(order.info).status.low;
							return status === 0;
							});
							// console.log("orders0:",count0,":",orders0)
							%>
							<%if (orders0.length){ %>
								<% for (var i=0 ; i < orders0.length ; i++) { %>
									<% const datestr=JSON.parse(orders0[i].info).time %>
										<% const date=new Date(datestr.replace("-", "/" ).replace("-", "/"
											).replace("-", " " ).replace("-", ":" ).replace("-", ":" )); %>
											<% const
												day=`${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`; %>
												<% const time=`${date.getHours()}:${date.getMinutes()}`; %>
													<% const total=orders0[i].cart.reduce((acc, curr)=> acc +
														Number(curr.price) * Number(curr.amt), 0); %>
														<tr>
															<th class="text-center">
																<%= JSON.parse(orders0[i].info).table %>
															</th>
															<td>
																<%= day %>
															</td>
															<td>
																<%= time %>
															</td>
															<td>
																<%= total %>
															</td>
															<td><a href="#" data-toggle="modal"
																	data-target="#Modaledit">編輯</a>
															</td> <!-- Modal2 -->
															<td><a href="#" data-toggle="modal"
																	data-target="#Modalrecord" id="<%= i %>"
																	onclick="detail(0,'<%=i %>')">開始製作餐點</a></td>
															<!-- Modal1 -->
														</tr>
														<%} %>
															<%} %>
																<%if (!orders0.length){%>
																	<tr>
																		<td colspan="6">
																			<h4>無訂單</h4>
																		</td>
																	</tr>
																	<%}%>
					</table>
				</div>
				<div class="tab-pane fade" id="making">
					<h3 class="text-center">訂單已確認-製作中</h3>
					<table class="table table-striped table-hover text-center">
						<tr>
							<th class="text-center">桌號</th>
							<th class="text-center">日期</th>
							<th class="text-center">時間</th>
							<th class="text-center">訂單金額</th>
							<th class="text-center">更新狀態</th>
						</tr>
						<!-- count status=1 -->
						<% const orders1=orders.filter(order=> {
							const status = JSON.parse(order.info).status.low;
							return status === 1;
							});
							// console.log(orders1)
							%>
							<%if (orders1.length){ %>
								<% for (var j=0 ; j < orders1.length ; j++) { %>
									<% const datestr=JSON.parse(orders1[j].info).time %>
										<% const date=new Date(datestr.replace("-", "/" ).replace("-", "/"
											).replace("-", " " ).replace("-", ":" ).replace("-", ":" )); %>
											<% const
												day=`${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`; %>
												<% const time=`${date.getHours()}:${date.getMinutes()}`; %>
													<% const total=orders1[j].cart.reduce((acc, curr)=> acc +
														Number(curr.price) * Number(curr.amt), 0); %>
														<tr>
															<th class="text-center">
																<%= JSON.parse(orders1[j].info).table %>
															</th>
															<td>
																<%= day %>
															</td>
															<td>
																<%= time %>
															</td>
															<td>
																<%= total %>
															</td>
															<td><a href="#" data-toggle="modal"
																	data-target="#Modalrecord"
																	onclick="detail(1,'<%=j %>')">餐點製作完成&nbsp; </a></td>
														</tr>
														<%} %>
															<%} %>
																<%if (!orders1.length){%>
																	<tr>
																		<td colspan="6">
																			<h4>無訂單</h4>
																		</td>
																	</tr>
																	<%}%>

					</table>
				</div>
				<div class="tab-pane fade" id="done">
					<h3 class="text-center">待派送餐點</h3>
					<table class="table table-striped table-hover text-center">
						<tr>
							<th class="text-center">桌號</th>
							<th class="text-center">日期</th>
							<th class="text-center">時間</th>
							<th class="text-center">訂單金額</th>
							<th class="text-center">更新狀態</th>
						</tr>
						<!-- count status=2 -->
						<% const orders2=orders.filter(order=> {
							const status = JSON.parse(order.info).status.low;
							return status === 2;
							});
							// console.log(orders2)
							%>
							<%if (orders2.length){ %>
								<% for (var j=0 ; j < orders2.length ; j++) { %>
									<% const datestr=JSON.parse(orders2[j].info).time %>
										<% const date=new Date(datestr.replace("-", "/" ).replace("-", "/"
											).replace("-", " " ).replace("-", ":" ).replace("-", ":" )); %>
											<% const
												day=`${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`; %>
												<% const time=`${date.getHours()}:${date.getMinutes()}`; %>
													<% const total=orders2[j].cart.reduce((acc, curr)=> acc +
														Number(curr.price) * Number(curr.amt), 0); %>
														<tr>
															<th class="text-center">
																<%= JSON.parse(orders2[j].info).table %>
															</th>
															<td>
																<%= day %>
															</td>
															<td>
																<%= time %>
															</td>
															<td>
																<%= total %>
															</td>
															<td><a href="#" data-toggle="modal"
																	data-target="#Modalrecord"
																	onclick="detail(2,'<%=j %>')">前往送餐&nbsp; </a></td>
														</tr>
														<%} %>
															<%} %>
																<%if (!orders2.length){%>
																	<tr>
																		<td colspan="6">
																			<h4>無訂單</h4>
																		</td>
																	</tr>
																	<%}%>
					</table>
				</div>
				<div class="tab-pane fade" id="finish">
					<h3 class="text-center">結帳</h3>
					<div class="button-container1">
						<% for (var i=0; i < 6; i++) { %>
							<a data-toggle="modal" data-target="#Modalcheckout" data-table="<%= i + 1 %>"
								onclick="getOrderbyTable(<%=i%>+1)">
								<button class="gray-button"><span>桌號 <%= i + 1 %></span></button>
							</a>
							<% } %>
					</div>
					<!--<table class="table table-striped table-hover text-center">
						<tr>
							<th class="text-center">桌號</th>
							<th class="text-center">訂單編號</th>
							<th class="text-center">日期</th>
							<th class="text-center">時間</th>
							<th class="text-center">訂單金額</th>
							<th class="text-center">更新狀態</th>
						</tr>
						count status=3 
						<%const orders3=orders.filter(order=> {
							const status = JSON.parse(order.info).status.low;
							return status === 3;
							});

							// Sort orders by 'table' attribute in ascending order
							orders3.sort((a, b) => {
							const tableA = JSON.parse(a.info).table;
							const tableB = JSON.parse(b.info).table;
							return tableA - tableB;
							});
							%>
							<%if (orders3.length){ %>
								<% for (var j=0 ; j < orders3.length ; j++) { %>
									<% const datestr=JSON.parse(orders3[j].info).time %>
										<% const date=new Date(datestr.replace("-", "/" ).replace("-", "/"
											).replace("-", " " ).replace("-", ":" ).replace("-", ":" )); %>
											<% const
												day=`${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`; %>
												<% const time=`${date.getHours()}:${date.getMinutes()}`; %>
													<% const total=orders3[j].cart.reduce((acc, curr)=> acc +
														Number(curr.price) * Number(curr.amt), 0); %>
														<tr>
															<th class="text-center">
																<%= JSON.parse(orders3[j].info).table %>
															</th>
															<td>
																<%= orders3[j].id %>
															</td>
															<td>
																<%= day %>
															</td>
															<td>
																<%= time %>
															</td>
															<td>
																<%= total %>
															</td>
															<td><a href="#" class="my-button" data-toggle="modal"
																	data-target="#Modalrecord"
																	onclick="detail(3,'<%=j %>')">結帳</a></td>
														</tr>
														<%} %>
															<%} %>
																<%if (!orders3.length){%>
																	<tr>
																		<td colspan="6">
																			<h4>無訂單</h4>
																		</td>
																	</tr>
																	<%}%>
					</table>
				-->
				</div>
			</div>

			<!-- Modal1 -->
			<div class="modal fade" id="Modalrecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form>
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title itemname" id="myModalLabel">訂單明細</h4>
								<p>訂單日期：2023年03月19日</p>
							</div>
							<div class="modal-body">
								<table class="table table-striped text-center">
									<tr>
										<td>項次</td>
										<td>品名</td>
										<td>數量</td>
										<td>單價</td>
										<td>金額</td>
									</tr>
									<% if (orders.length!=0) { %>
										<% for (var j=0 ; j < orders[0].cart.length ; j++) { %>
											<tr>
												<td>
													<%= j+1 %>
												</td>
												<td>
													<%= orders[0].cart[j].name %>
												</td>
												<td>
													<%= orders[0].cart[j].amt %>
												</td>
												<td>
													<%= orders[0].cart[j].price %>
												</td>
												<td>
													<%= orders[0].cart[j].amt*orders[0].cart[j].price %>
												</td>
											</tr>
											<%} %>
												<% } %>
													<tr>
														<td colspan="4">訂單金額總計</td>
														<td style="color: crimson;font-size: 18px">230</td>
													</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal"
									aria-label="Close">取消</button>
								<button id="submit1" type="submit" class="btn btn-primary">開始製作</button>
							</div>
						</form>
					</div><!--modal-content end-->
				</div><!-- Modal end-->
			</div><!--row end-->
			<!-- Modal2 -->
			<div class="modal fade" id="Modaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form>
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title itemname" id="myModalLabel">桌號：</h4>
								<p>訂單日期：2023年06月09日</p>
							</div>
							<div class="modal-body">
								<table class="table table-striped text-center">
									<tr>
										<td>項次</td>
										<td>品名</td>
										<td>數量</td>
										<td>單價</td>
										<td>金額</td>
										<td>刪除</td>
									</tr>
									<% if (orders.length!=0) { %>
										<% for (var j=0 ; j < orders[0].cart.length ; j++) { %>
											<tr>
												<td>
													<%= j+1 %>
												</td>
												<td>
													<%= orders[0].cart[j].name %>
												</td>
												<td class="form-control" contenteditable="true"
													onBlur="updateAmt(<%= j %>, 'amt', this.innerHTML)">
													<%= orders[0].cart[j].amt %>
												</td>
												<td>
													<%= orders[0].cart[j].price %>
												</td>
												<td>
													<%= orders[0].cart[j].amt*orders[0].cart[j].price %>
												</td>
												<td><a href=""><span class="glyphicon glyphicon-trash"
															aria-hidden="true"></span></a></td>
											</tr>
											<%} %>
												<% } %>
													<tr>
														<td colspan="5">訂單金額總計</td>
														<td style="color: crimson;font-size: 18px">???</td>
													</tr>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal"
									aria-label="Close">取消</button>
								<button id="submit1" type="submit" class="btn btn-primary">確認修改</button>
							</div>
						</form>
					</div><!--modal-content end-->
				</div><!-- Modal end-->
			</div><!--row end-->
		</div><!--container end-->
		<!-- Modal3 -->
		<div class="modal fade" id="Modalcheckout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table table-striped text-center">
								<p>沒有訂單待結帳</p>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
								aria-label="Close">取消</button>
							<!-- 更改下一行的onclick function, 將checkoutOrder()改成checkoutOrder(桌號) -->
							<button id="submit1" type="submit" class="btn btn-primary"
								onclick="checkoutOrder(1)">結帳</button>
						</div>
					</form>
				</div><!--modal-content end-->
			</div><!-- Modal end-->
		</div><!--row end-->
		</div><!--container end-->


</body>
<footer>
	<!-- <p><%=JSON.stringify(orders)%></p> -->
	<!-- <p><%=JSON.stringify(orders2)%></p> -->
</footer>
<script>
	function detail(status,i) {
		if(status === 0){
			var orders = JSON.parse(JSON.stringify(<%-JSON.stringify(orders0)%>))
			const tagg = "開始製作!";
		}
		if(status === 1){
			var orders = JSON.parse(JSON.stringify(<%-JSON.stringify(orders1)%>))
			const tagg = "餐點完成!";
		}
		if(status === 2){
			var orders = JSON.parse(JSON.stringify(<%-JSON.stringify(orders2)%>))
			const tagg = "前往送餐!";
		}
		if(status === 3){
			var orders = JSON.parse(JSON.stringify(<%-JSON.stringify(orders3)%>))
			const tagg = "結帳!";
		}
		const datestr = JSON.parse(orders[i].info).time;
		const total=orders[i].cart.reduce((acc, curr)=> acc + Number(curr.price) * Number(curr.amt), 0);
		var cart = '';
		for (var j=0 ; j <  orders[i].cart.length; j++){
			cart += `
				<tr>
					<td>
						${j+1}
					</td>
					<td>
						${orders[i].cart[j].name}
					</td>
					<td>
						${orders[i].cart[j].amt}
					</td>
					<td>
						${orders[i].cart[j].price}
					</td>
					<td>
							${orders[i].cart[j].amt * orders[i].cart[j].price}
					</td>
				</tr>
			`;
			if (j==orders[i].cart.length-1){
				cart += `
					<tr>
						<td colspan="4">訂單金額總計</td>
						<td style="color: crimson;font-size: 18px">${total}</td>
					</tr>
					
				`;
			}
		}
		var html = `
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title itemname" id="myModalLabel">訂單明細# ${orders[i].id}</h4>
							<p>訂單日期：${datestr}</p>
						</div>
						<div class="modal-body">
							<table class="table table-striped text-center">
								<tr>
									<td>項次</td>
									<td>品名</td>
									<td>數量</td>
									<td>單價</td>
									<td>金額</td>
								</tr>
								${cart}
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"
								aria-label="Close">取消</button>
							
							<button  id="submit1" class="btn btn-primary">
								<a href="/merchant/updateOrder/${orders[i].id}" style="color: white;">確認</a>
							</button>
						
						</div>
					</form>
				</div><!--modal-content end-->
			</div><!-- Modal end-->
		`
		var element = document.getElementById('Modalrecord')
		element.innerHTML = html;
	}
	function getOrderbyTable(table) {
		fetch(`/merchant/getOrderbyTable/${table}`, {
			method: 'Get',
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(function (response) {
				return response.json();
			})
			.then(function (myJson) {
				console.log('json:',myJson);
				return myJson;
			})
			.catch(error => {
				console.error('Error occurred:', error);
				// Handle any errors that occurred during the fetch
			})
			.then(function (Json) {
				const filteredData = Json.filter(item => {
					const info = JSON.parse(item.info); // Parse the "info" property JSON string
					return info.status.low === 3; // Filter items with "low" value equal to 3
				  });
				  
				  console.log(filteredData);
				var tableOrder = table.toString();
				//send a http request to get order by table
				var checkout = '';
				var totalmoney = 0;
				for (var i = 0; i <filteredData.length; i++) {
					const total = filteredData[i].cart.reduce((acc, curr) => acc + Number(curr.price) * Number(curr.amt), 0);
					const datestr=JSON.parse(filteredData[i].info).time;
					const date=new Date(datestr.replace("-", "/" ).replace("-", "/").replace("-", " " ).replace("-", ":" ).replace("-", ":" ));
					const time=`${date.getHours()}:${date.getMinutes()}`;
					totalmoney = totalmoney + total;
					checkout += `
					<tr>
						<td>
							${i + 1}
						</td>
						<td>
							${filteredData[i].id}
					
						</td>
						<td>
							${time} 
						</td>
						<td>
							${total}
						</td>
					</tr>
				`;

				}
				var html = `
					<form action="/merchant/checkoutOrder/:table" method="POST">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form>
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title itemname" id="myModalLabel">桌號：${table}</h4>
									</div>
									<div class="modal-body">
										<table class="table table-striped text-center">
											<tr>
												<td>項次</td>
												<td>訂單編號</td>
												<td>下單時間</td>
												<td>金額</td>
											</tr>
												${checkout}
											<tr>
												<td colspan="3">訂單金額總計</td>
												<td colspan="4" style="color: crimson;font-size: 18px">${totalmoney}</td>
											</tr>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal"
											aria-label="Close">取消</button>
										<!-- 更改下一行的onclick function, 將checkoutOrder()改成checkoutOrder(桌號) -->
										<button id="submit1" class="btn btn-primary" onclick="checkoutOrder(${table})">結帳</button>
									</div>
								</form>
							</div><!--modal-content end-->
						</div><!-- Modal end-->
					</form>
			`
				var element = document.getElementById('Modalcheckout')
				element.innerHTML = html;

			});

	}
	function checkoutOrder(table){
		//send a http request to checkout order by table
		event.preventDefault();
		fetch(`/merchant/checkoutOrder/${table}`, {
			method: 'Get',
			headers: {
				'Content-Type': 'application/json'
			}
		})
			.then(function (response) {
				return response.json();
			})
			.then(function (myJson) {
				alert(myJson.status);
				document.querySelector("#Modalcheckout > form > div > div > div.modal-header > button > span").click();

  			})
			.catch(error => {
				console.error('Error occurred:', error);
				// Handle any errors that occurred during the fetch
			});
	}
</script>
<script>
	function updateAmt(index, property, value) {
		orders[0].cart[index][property] = value;
	}
</script>

</html>