<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/headermerch.ejs') %>
	<div class="container" style="margin-top:50px;padding-bottom: 30px">
		<h2 class="h2">訂單狀態</h2>
		<ul id="myTab1" class="nav nav-tabs">
			<li class="active"><a href="#confirm" data-toggle="tab">訂單已送出-等待確認&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
			<li><a href="#making" data-toggle="tab">訂單已確認-製作中&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
			<li><a href="#done" data-toggle="tab">製作完成-待配送餐點</a></li>
			<li><a href="#finish" data-toggle="tab">結帳</a></li>
			<li><a href="#record" data-toggle="tab">訂單紀錄</a></li>
		</ul>
		
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="confirm">
				<h3 class="text-center">訂單已送出-等待確認</h3>
				<table class="table table-striped table-hover text-center">
					<tr>
						<th class="text-center">桌號</th>
						<th class="text-center">日期</th>
						<th class="text-center">時間</th>
						<th class="text-center">訂單金額</th>						<th class="text-center">開始製作餐點</th>
					</tr>
					<%if (orders.length!=0){ %>
						<% for (var j=0 ; j < orders.length ; j++) { %>	
							<% const datestr = JSON.parse(orders[j].info).time %>
							<% const date = new Date(datestr.replace("-", "/").replace("-", "/").replace("-", " ").replace("-", ":").replace("-", ":")); %>
							<% const day = `${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`;	%>
							<% const time = `${date.getHours()}:${date.getMinutes()}`; %>
							<% const total = orders[j].cart.reduce((acc, curr) => acc + Number(curr.price) * Number(curr.amt), 0); %>
							<tr>
								<th class="text-center"><%= JSON.parse(orders[j].info).table %></th>
								<td><%= day %></td>
								<td><%= time %></td>
								<td><%= total %></td>
								<td><a href="#" data-toggle="modal" data-target="#Modalrecord">編輯/開始製作餐點&nbsp; </a></td>
							</tr>
						<%} %>
					<%} %>
					<%if (orders.length==0){%>
						<tr>
							<td colspan="5"><h4>無訂單</h4></td>
						</tr>
					<%}%>
				</table>
			</div>
			<div class="tab-pane fade" id="making">
				<h3 class="text-center">訂單已確認-製作中</h3>
				<table class="table table-striped table-hover text-center">
					<tr>
						<th class="text-center">桌號</th>
						<th class="text-center">日期</th>
						<th class="text-center">時間</th>
						<th class="text-center">訂單金額</th>
						<th class="text-center">餐點製作完成</th>
					</tr>
					<%if (orders.length!=0){ %>
						<% for (var j=0 ; j < orders.length ; j++) { %>	
							<% const datestr = JSON.parse(orders[j].info).time %>
							<% const date = new Date(datestr.replace("-", "/").replace("-", "/").replace("-", " ").replace("-", ":").replace("-", ":")); %>
							<% const day = `${date.getFullYear()}年${date.getMonth()+1}月${date.getDate()}日`;	%>
							<% const time = `${date.getHours()}:${date.getMinutes()}`; %>
							<% const total = orders[j].cart.reduce((acc, curr) => acc + Number(curr.price) * Number(curr.amt), 0); %>
							<tr>
								<th class="text-center"><%= JSON.parse(orders[j].info).table %></th>
								<td><%= day %></td>
								<td><%= time %></td>
								<td><%= total %></td>
								<td><a href="#"  data-toggle="modal" data-target="#Modalrecord">編輯/餐點製作完成&nbsp; </a></td>
							</tr>
						<%} %>
					<%} %>
					<%if (orders.length==0){%>
						<tr>
							<td colspan="5"><h4>無訂單</h4></td>
						</tr>
					<%}%>
					
				</table>
			</div>
			<div class="tab-pane fade" id="done">
				<h3 class="text-center">待派送餐點</h3>
				<table class="table table-striped table-hover text-center">
					<tr>
						<th class="text-center">桌號</th>
						<th class="text-center">日期</th>
						<th class="text-center">時間</th>
						<th class="text-center">訂單金額</th>
						<th class="text-center">更新狀態</th>
					</tr>
					<%if (1){%>
						<% for (var j=0 ; j < 3 ; j++) { %>	
						<tr>
							<th class="text-center"><%= JSON.parse(orders[j].info).table %></th>
							<td>2023年3月17日</td>
							<td>16:30</td>
							<td>1750</td>
							<td><a href="#" data-toggle="modal" data-target="#Modalrecord">編輯/前往送餐&nbsp; </a></td>
						</tr>
						<%} %>
					<%} %>
					<%if (0){%>
						<tr>
							<td colspan="5"><h4>無訂單</h4></td>
						</tr>
					<%}%>
				</table>
			</div>
			<div class="tab-pane fade" id="finish">
				<h3 class="text-center">已完成配送-待結帳</h3>
				<table class="table table-striped table-hover text-center">
					<tr>
						<th class="text-center">桌號</th>
						<th class="text-center">訂單編號</th>
						<th class="text-center">日期</th>
						<th class="text-center">時間</th>
						<th class="text-center">訂單金額</th>
						<th class="text-center">明細</th>
						<th class="text-center">更新狀態</th>
					</tr>
					<%if (1){%>
						<% for (var j=0 ; j < 6 ; j++) { %>	
						<tr>
							<th class="text-center"><%=j+1%></th>
							<td><%= JSON.parse(orders[j].info).table %></td>
							<td>2023年3月17日</td>
							<td>16:30</td>
							<td>1750</td>
							<td>明細&nbsp;<a href="#" data-toggle="modal" data-target="#Modalrecord"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></td>
							<td><a href="#" >編輯/結帳&nbsp; </a></td>
						</tr>
						<%} %>
					<%} %>
					<%if (0){%>
						<tr>
							<td colspan="5"><h4>無訂單</h4></td>
						</tr>
					<%}%>
				</table>
			</div>
			<div class="tab-pane fade" id="record">
				<h3 class="text-center">訂單紀錄(歷史紀錄)</h3><br>
				<label for="startDate">選擇日期：</label>
				<input type="date" id="startDate" name="startDate">
				&nbsp&nbsp&nbsp
				<label for="dataset">時段：</label>
					<select id="dataset">
						<option value="dataset1">整天</option>
						<option value="dataset1">中午(11:00-16:00)</option>
						<option value="dataset2">晚上(17:00-23:00)</option>
					</select>&nbsp&nbsp&nbsp
				<a id="search" href="#" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<br><br>
				<h4 class="text-center">目前顯示時間範圍：</h4><br>
			<table class="table table-striped table-hover text-center">
				<tr>
					<th class="text-center">日期</th>
					<th class="text-center">時間</th>
					<th class="text-center">桌號</th>
					<th class="text-center">訂單金額</th>
					<th class="text-center">明細</th>
				</tr>
				<%if (1){%>
					<% for (var j=0 ; j < 3 ; j++) { %>	
					<tr>
						<td>2023年3月17日</td>
						<td>16:30</td>
						<td><%= JSON.parse(orders[j].info).table %></td>
						<td>1750</td>
						<td>明細&nbsp;<a href="#" data-toggle="modal" data-target="#Modalrecord"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></td>
					<%} %>
				<%} %>
				<%if (0){%>
					<tr>
						<td colspan="5"><h4>無訂單</h4></td>
					</tr>
				<%}%>
			</table>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="Modalrecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title itemname" id="myModalLabel">訂單明細 1</h4>
							<p>訂單日期：2023年03月19日</p>
						</div>
						<div class="modal-body">
							<table class="table table-striped text-center">
								<tr>
									<td>項次</td>
									<td>品名</td>
									<td>數量</td>
									<td>單價</td>
									<td>金額</td>
								</tr>
								<% if (orders.length!=0) { %>
									<% for (var j=0 ; j < orders[0].cart.length ; j++) { %>	
										<tr>
											<td><%= j+1 %></td>
											<td><%= orders[0].cart[j].name %></td>
											<td><%= orders[0].cart[j].amt %></td>
											<td><%= orders[0].cart[j].price %></td>
											<td><%= orders[0].cart[j].amt*orders[0].cart[j].price %></td>
										</tr>
									<%} %>
								<% } %>
								<tr>
									<td colspan="4">訂單金額總計</td>
									<td style="color: crimson;font-size: 18px">230</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default">編輯訂單</button>
							<button type="submit" class="btn btn-primary">更新狀態</button>
						</div>
					</form>
				</div><!--modal-content end-->
			</div><!-- Modal end-->
		</div><!--row end-->
	</div><!--container end-->

</body>
</html>